################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportFeeds/.vs/ImportFeeds/v16
